@model PagedList.IPagedList<Refaccionaria.Models.Producto>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Productos", "FormMethod.Get"))
{
    <p>
        Hallar por nombre o descripción: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("ProductoID", "Index", new { sortOrder = ViewBag.OrdenProductoID, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.OrdenNombre, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Descripción
        </th>
        <th>
            Precio de compra
        </th>
        <th>
            @Html.ActionLink("PrecioVenta", "Index", new { sortOrder = ViewBag.OrdenPrecioVenta, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @using (Html.BeginForm("AgregarCarrito", "Productos", FormMethod.Post))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ProductoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioVenta)
                </td>
                <td>
                    <input type="submit" class="btn btn-primary" id="submitId" value="Agregar al carrito" />
                    @Html.TextBox("Cantidad", 1, new { @type = "number", min = "1", style = "width: 135px;" })
                    @Html.HiddenFor(modelItem => item.ProductoID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProductoID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductoID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProductoID })
                </td>
            }
        </tr>
    }

</table>
<br />
Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))